$main-bg: #DBCDC6
$app-bg: #EAD7D1
$block-bg: #7B506F
$active: #1F1A38

nav
    display: block
    .nav-bar
        margin: 0
        padding: 0
        width: 100%
        list-style: none
        display: flex
        flex-direction: row
        .nav-item
            width: 100%
            display: flex
            justify-content: center
            align-items: center
            text-decoration: none
            
            color: $main-bg
            border: 1px solid $main-bg
            height: 3em
            transition: all 1s
            &:hover
                background-color: $active
.non-active
    background-color: $block-bg
.active
    background-color: $active

            